@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
}

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

.page-header {
    background: #ffffff;
    color: #000000;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-list {
    display: flex;
    width: 600px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation-user {
    width: 300px;
    margin-left: auto;
}

.navigation-user .navigation-link {
    min-width: 16px;
    min-height: 22px;
}

.navigation-link {
    display: block;
    padding: 20px 28px;
    font-family: "PT Sans", sans-serif;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

.main-container {
    flex-grow: 1;
}

.main-index {
    color: #000000;
    background-color: #ffffff;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.image-index-background {
    background-image: url(../images/index-background.jpg);
    width: 1200px;
    height: 485px;
}

.logo {
    display: block;
    margin: 0 auto;
    margin-top: 51px;
}

.sedona {
    text-align: center;
}

.sedona-heading {
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.sedona p {
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    font-weight: 400;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.invitation {
    text-align: center;
}

.invitation-heading {
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.invitation p {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
}


.contains-list {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;

}

.contains-item {
    width: 400px;
    height: 385px;
}

.contains-heading {
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.contains p {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;
}

.search {
    text-align: center;
}

.search-heading {
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    font-weight: 700;
}

.search p {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
}

.page-footer {
    background-color: #ffffff;
    color: #000000;
}

.page-footer-container {
    display: flex;
    width: 1200px;
    height: 120px;
    margin: 0 auto;

}

.footer-social {
    width: 142px;
    margin-right: 237px;
}

.footer-contacts-phone {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    font-style: normal;
    margin-right: 236px;
}

.footer-logo-htmlacadmey {
    max-width: 115px;
}
